*{
    padding:0;
    margin: 0;
    border: none;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,black,teal,aqua,black,aquamarine);
    background-size: 100vw 100vh ;
    background-repeat: round;
    display: grid;
    grid-template-columns: 5fr 90fr 5fr ;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}
body header, footer{
    grid-column: 1/span 3;
    height:75px;
    background-color: black;
    color: white;
    opacity:0.7;
}
#columnLeftBorder,#columnRightBorder{
    position: relative;
    background-color: black;
    height: 100%;
    opacity:0.7;
    transition: opacity 0.3s ease;
}

/*_______________________________________Buttons_______________________________________*/
#firstTime, #previousUser, #begin{
    position: absolute;
    top: 200px;
    border-radius: 100%;

    width: 100px;
    height: 100px;
    background-color: red;
    transition: opacity 1s linear;
}
#firstTime{
    right:53%;
    /*transform: rotateX(-45deg);*/
    /*transform: translate3d(100px,100px,100px);*/
}
#previousUser{
    left:53%;
}
#begin{
    top:350px;
    color: grey;
    background-image: url("./assets/stars.png");
}
/*_______________________________________End Buttons_______________________________________*/

/*_______________________________________CSS for menu on scene customization_______________________________________*/

.menuContainer{
    position: absolute;
    overflow: hidden;
    background-color: green;
    width: 0;
    height:100%;
    transition: width 0.2s ease;
}
.menu{
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}
#sceneName > textarea{
    width: 100%;
    height: 100%;
}

@keyframes populateMenu{
    from{}
    to{right:0;}
}
/*_______________________________________End CSS for menu on scene customization_______________________________________*/

#columnCenterBlock {
    display: grid;
    height: 100%;
    grid-template-columns: 10fr 80fr 10fr;
    overflow: hidden;
    background-image: url("./assets/background.png");
    background-size:cover;
    background-position: center;
    transition: background-image 1s linear;
}
#centerBlockCenterCol{
    display: flex;
    perspective: 800px;
    height:100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

/*_______________________________________CSS for tile container stylization (parent of the tile elements)_______________________________________*/
.tileContainer{
    display: none; /*hides entire element and children until activated*/
    position: relative;
    transform-style: preserve-3d;
    outline: 5px solid white; /*for visual testing*/
    outline-offset: -5px; /*for visual testing*/
    width: 0; /*sets initial width, allows for smooth transition*/
    aspect-ratio: 1; /*allows height to be set to width*/
    transition: width 0.5s ease, transform 0.5s linear; /*applies transition effect*/
    /*viewpoint is at center, 90deg rotation with center origin causes board to disappear*/
    /*rotating with origin at bottom visually folds the board backwards*/
    /*transform-origin: center;*/
    transform-origin: bottom;
}
/*_______________________________________CSS for camera stylization (parent of the tile)_______________________________________*/
.camera{
    position: relative;
    transform-style: preserve-3d;
    transition: width 1.5s ease, transform 0.2s linear;
    aspect-ratio: 1;
    width: inherit;
    outline: 5px solid yellow;
    outline-offset: -5px;

    }
@keyframes rotateCamera {
    from{}
    to{transform:rotateZ(360deg)}
}
/*_______________________________________CSS for Scene+base stylization_______________________________________*/
.sceneContainer{
    position: absolute;
    transform-style: preserve-3d;
    transition: width 2.5s ease, transform 0.2s linear;
    aspect-ratio: 1;
    width: inherit;
    outline: 5px solid red;
    outline-offset: -5px;

}
.scene{
    /*display: none; !*sets display to none so that the scene does not initially appear, instead wil appear on button click*!*/
    aspect-ratio: 1;
    width: inherit; /*initial width set to 0 so that the transition animates the board coming into existence*/
    background-color: white;
    /*transform-origin: bottom;*/
    transform-style: preserve-3d;
    transition: width 3.5s ease, transform 0.5s linear;
}
.sceneFloor{
    position: absolute;
    aspect-ratio: 1;
    width: inherit;
    background-image: url("./assets/grass.png");
    background-size:auto;
    background-position: center;
    transition: background-image 1s linear;
}
.baseFaces{
    position: absolute;
    width:inherit;
    --baseHeight:40px;
    height:var(--baseHeight);
    background-image: url("./assets/dirt.jpeg");
    background-size:auto;
    background-position: center;
    transition: background-image 1s linear;

}
.baseFaces.baseFront{
    top:100%; /*pushes element to bottom of parent*/
    transform-origin: top; /* performs transformation along top of element*/
    transform: rotateX(-90deg); /* folds element down along x axis*/
}
.baseFaces.baseBack{
    transform-origin: top;
    transform: rotateX(-90deg);
}
.baseFaces.baseLeft{
    transform-origin: top left;
    transform: rotateX(-90deg) rotateY(-90deg);
}
.baseFaces.baseRight{
    transform-origin: top right;
    transform: rotateX(-90deg) rotateY(90deg);
}
.baseFaces.baseFloor{
    height:100%;
    transform: translateZ(calc(-1*(var(--baseHeight))));
}
/*_______________________________________End CSS for Scene+base stylization_______________________________________*/
/*_______________________________________Player customization_______________________________________*/
.playerContainer{
    position: absolute;
    display: block;
    transform-style: preserve-3d;
    transform-origin: bottom; /*transforms occur from bottom up element (allows element to flip up, as opposed to default center origin transform, resulting in element partially being in the ground)*/
    transform:rotateX(-90deg); /*flips player container back up after flip down from board */
    width: 20px;
    height: 20px;
    /*z-index: 1; !*ensures element visually appears on top of scene (when testing where element is with border:)*!*/
    bottom:400px;/*places the character at the bottom of the board initially (closest to the user[player])*/
    left:390px; /*places the left side of the playerContainer element 50% from the left of the parent element (the left side of the board)*/
    transition: transform 0.2s linear;
}
.hands{
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s linear;
}
.leftHand{
    background-image: url("./assets/leftHand.png");
    transform: translate3d(-10px,0px,-25px) rotateX(40deg) rotateY(62deg) rotateZ(39deg);

}
.rightHand{
    background-image: url("./assets/rightHand.png");
    transform: translate3d(10px,0px,-25px) rotateX(40deg) rotateY(-62deg) rotateZ(-39deg);
    transform-style: preserve-3d;
}
.torch{
    display: none;
    position: absolute;
    width: 10px;
    height: 30px;
    background-image: url("./assets/torch.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateZ(0deg) translate3d(0,0,0)

}
.weapon{
    position: absolute;
    width: 40px;
    height: 20px;
    background-image: url("./assets/weapon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateX(8deg) rotateY(-17deg) rotateZ(78deg) translate3d(-7px,10px,6px)
}

.player{
    /*background-image: url("./assets/pixelWizard.png");*/
    /*display: none;*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    width: 20px;
    height: 20px;
    transition: transform 0.2s linear;

}
/*_______________________________________End Player customization_______________________________________*/
/*_______________________________________Begin Castle customization_______________________________________*/
.castle{
    position: absolute;
    left:100px;
    aspect-ratio: 1;
    width: 600px;
    background-image: url("./assets/mossyCobblestoneRoad.png");
    background-position: center;
    background-size: 100px 100px;
    transform-style: preserve-3d;
}
.castleWall{
    position: absolute;
    background-image: url("./assets/castleWall.png");
    background-position: center;
    background-size: contain;
    width: 600px;
    height: 100px;
}

.castleWallFront{
    bottom: 0;
    background-image: none;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
}
.castleWallFrontLeft{
    position: absolute;
    width:250px;
}
.castleWallFrontGate{
    position: absolute;
    background-image: none;

}
.castleWallFrontRight{
    right:0;
    position: absolute;
    width:250px;
}

.castleWallBack{
    top: -100px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
}
.castleWallLeft{
    top: -100px;
    transform-origin: bottom right;
    transform: rotateX(-90deg) rotateY(90deg);
}
.castleWallRight{
    top: -100px;
    transform-origin: bottom left;
    transform: rotateX(-90deg) rotateY(-90deg);
}


.treeContainer{
    position: absolute;
    transform-style: preserve-3d;
    /*background-color: red;*/
    width: 35px;
    height: 70px;
    transform-origin: bottom;
    transform: rotateX(-90deg);

}
.tree{
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url("./assets/tree.png");
    background-position: center;
    background-size: cover;
    transition: filter 1s linear;
}
.treeFaceOne{

}
.treeFaceTwo{
    transform:rotateY(90deg);

}




/*_______________________________________End Castle customization_______________________________________*/
/*_______________________________________Begin Prop customization (House Variants)_______________________________________*/






/*_______________________________________End Prop customization (House Variants)_______________________________________*/













/*_______________________________________Boss customization_______________________________________*/
.bossContainer{
    position: absolute;
    transform-style: preserve-3d;
    transition: width 2.5s ease;
    aspect-ratio: 1;
    width: inherit;
    outline: 5px solid green;
    outline-offset: -5px;
}
.skeletonBossContainer{
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    outline: 5px solid white;
    outline-offset: -5px;
    width: 100px;
    height:200px;
    transform-origin: top;
    transform-style: preserve-3d;
    /*translate of (-50%,0,200px) along with the left 50% moves element to center and rotate(-90deg) flips element down*/
    /*preserves top/bottom for child elements*/
    /*animation-fill-mode: forwards;*/

    transform:translate3d(-50%,50%,-200px) rotateX(-90deg);
    /*animation: rotateBossContainer 10s linear ;*/

    z-index: 1;
}
@keyframes rotateBossContainer {
    from{transform: translate3d(-50%,50%,-200px) rotateX(-90deg)}
    to{transform:translate3d(-50%,50%,195px) rotateX(-90deg)}

}
.bossHead{
    position: absolute;
    top: -120px;
    width:100px;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    transform:rotateX(-23deg);
}
.halo{
    position: absolute;
    left: 50%;

    transform: rotateX(90deg) translate3d(-50%,-10px , 100px);
    background-color: transparent;
    box-shadow: 0 0 40px 3px gold ;
    border-radius: 50%;
    width: 150px;
    aspect-ratio: 1;
}
.crown{
    /*top:-100%;*/
    position: absolute;
    transform-origin: top;
    transform:rotateX(90deg);
    width:100px;
    aspect-ratio: 1;
    transform-style: preserve-3d;

}
.crownFaces{
    position: absolute;
    background-color: gold;
    background-image: url("./assets/stars.png");
    box-shadow: 0 0 10px 3px white;
    width: 100%;
}
.crownBase{
    aspect-ratio: 1;
}
.crownFront{
    height:25px;
    bottom: 0;
    transform-origin: bottom;
    transform: rotateX(-90deg);

}
.crownLeft{
    height:25px;
    transform-origin: top right;
    transform: rotateZ(-90deg) rotateX(90deg);
}
.crownRight{
    height:25px;
    transform-origin: top left;
    transform: rotateZ(90deg) rotateX(90deg);
}
.crownBack{
    height:25px;
    transform-origin: top;
    transform: rotateX(90deg);
}
.crownPillars{
    position: absolute;
    transform-origin: top;
    transform-style: preserve-3d;
}
.crownPillarOne{
    transform:rotateX(90deg);

}
.crownPillarTwo{
    transform:rotateX(90deg) translateX(70px);
}
.crownPillarThree{
    transform:rotateX(90deg) translateX(70px) translateZ(-70px);

}
.crownPillarFour{
    transform:rotateX(90deg) translateZ(-70px);

}
.crownPillarContainers{
    top:25px;
    position: absolute;
    transform-style: preserve-3d;
}
.crownPillarFaceOneContainer{

}
.crownPillarFaceTwoContainer{
    transform-origin: top left;
    transform: rotateY(90deg);
}
.crownPillarFaceThreeContainer{
    transform-origin: top right;
    transform: rotateY(-90deg);
}
.crownPillarFaceFourContainer{
    transform:translateZ(-30px);
}
.crownPillarFaces{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 70px solid gold;
    transform-origin: top;
}
.crownPillarFaceOne{
    transform:rotateX(-12deg);
}
.crownPillarFaceTwo{
    transform:rotateX(12deg);

}
.crownPillarFaceThree{
    transform:rotateX(12deg);
}
.crownPillarFaceFour{
    transform:rotateX(12deg);

}
.skull{
    display: flex;
    width: 100px;
    justify-content: center;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(10px)
}
.skullFaces{
    position: absolute;
    width: 80px;
    aspect-ratio: 1;
    background-color: black;
    box-shadow: 0 0 10px 3px black;
    /*animation: expandShadow 10s linear infinite;*/
}
@keyframes expandShadow{
    from{width:80px}
    to{width:300px}
}
.skullFaceFront{

    transform: translateZ(80px);
}
.skullFaceLeft{
    transform-origin: left;
    transform:rotateY(-90deg);
}
.skullFaceRight{
    transform-origin: right;
    transform:rotateY(90deg);

}
.skullFaceBack{
}
.bossBody{
    display: flex;
    position: absolute;
    top: 0;
    background-color: transparent;
    outline: 5px solid white;
    outline-offset: -5px;
    width:100px;
    height:200px;
    justify-content: center;
    transform-style: preserve-3d;
}
.spineLower{
    position: absolute;
    bottom:0;
    background-color: black;
    outline: 5px solid black;
    outline-offset: -5px;
    box-shadow: 0 0 10px 3px white;

    width: 25px;
    height:70px;
    transform-origin: bottom;
    transform: rotateX(25deg);
}
.spineMid{
    position: absolute;
    bottom:65px;
    background-color: black;
    outline: 5px solid black;
    outline-offset: -5px;
    box-shadow: 0 0 10px 3px white;
    width: 25px;
    height:90px;
    transform-origin: bottom;
    transform: translateZ(-30px);
}
.spineUpper{
    position: absolute;
    bottom:145px;
    background-color: black;
    outline: 5px solid black;
    outline-offset: -5px;
    box-shadow: 0 0 10px 3px white;
    width: 25px;
    height:90px;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: rotateX(-25deg) translateZ(-30px);
}
.collarBone{
    position:relative;
    display: flex;
    width:25px;
    height:25px;
    background-color: green;
    transform-style: preserve-3d;
}
.collarBoneBackLeft{
    position: absolute;
    left:100%;
    width: 100px;
    height: 25px;
    background-color: black;
    outline: 5px solid white;
    outline-offset: -5px;
    box-shadow: 0 0 10px 3px white;

    transform-origin: left;
    transform: rotateY(-20deg);
}
.collarBoneBackRight{
    position: absolute;
    right:100%;
    width: 100px;
    height: 25px;
    background-color: black;
    outline: 5px solid white;
    outline-offset: -5px;
    box-shadow: 0 0 10px 3px white;

    transform-origin: right;
    transform: rotateY(20deg);
}
.collarBoneFrontLeft{
    position: absolute;
    left:100%;
    width: 100px;
    height: 25px;
    background-color: black;
    outline: 5px solid white;
    outline-offset: -5px;
    box-shadow: 0 0 10px 3px white;

    transform-origin: right;
    transform: translateZ(34px) rotateY(20deg);
}
.collarBoneFrontRight{
    position: absolute;
    right:100%;
    width: 100px;
    height: 25px;
    background-color: black;
    outline: 5px solid white;
    outline-offset: -5px;
    box-shadow: 0 0 10px 3px white;

    transform-origin: left;
    transform: translateZ(34px) rotateY(-20deg);
}
.leftArm{
    position: absolute;
    top: 0;
    right: -100px;
    background-color: black;
    outline: 5px solid white;
    outline-offset: -5px;
    width:50px;
    height: 100px;

}
.rightArm{
    position: absolute;
    top: 0;
    left:-100px;
    background-color: black;
    outline: 5px solid white;
    outline-offset: -5px;
    width:50px;
    height: 100px;
}
.summonPortalContainer{
    /*display set to none to hide boss code*/
    display: none;
    position: absolute;
    top:0;
    left:50%;
    /*display: flex;*/
    width: 300px;
    aspect-ratio: 1;
    /*background-color: white;*/
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: translate3d(-50%,1px,1px);
    z-index: 2;

}
.summonPortal{
    position: relative;
    /*circle rotates at middle, bottom pushes circle down by half of diameter (= to radius) so that the circle sits at bottom of skeletonBossContainer*/
    top: 0;
    background-color: black;
    box-shadow: 0 0 10px 3px white;
    border-radius: 50%;
    /*width: 150px;*/
    width: 0;
    aspect-ratio: 1;
    transform-origin: center;
    transition: width 5s linear;
    /*animation: bossPortal 6s linear;*/
    animation-fill-mode: forwards;
    z-index: 1;

}
@keyframes bossPortal{
    from{width:0}
    /*80%{width:0;transform:rotateX(90deg)}*/
    80%{width:300px}
    to{width:300px}
}
.portalAttack{
    /*display set to none to hide boss code*/
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0 0 10px 3px white;
    border-radius: 50%;
    left: 50%;
    top:50%;
    width: 0;
    aspect-ratio: 1;
    transition: width 5s linear;
    /*animation: bossPortal 5s linear infinite;*/
    z-index: 1;
}
