*{
    padding:0;
    margin: 0;
    border: none;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,black,teal,aqua,black,aquamarine);
    background-size: 100vw 100vh ;
    background-repeat: round;
    display: grid;
    grid-template-columns: 5fr 90fr 5fr ;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}
body header, footer{
    grid-column: 1/span 3;
    height:75px;
    background-color: black;
    color: white;
    opacity:0.7;
}
#columnLeftBorder,#columnRightBorder{
    position: relative;
    background-color: black;
    height: 100%;
    opacity:0.7;
    transition: opacity 0.3s ease;
}

/*_______________________________________Buttons_______________________________________*/
#firstTime, #previousUser, #begin{
    position: absolute;
    top: 200px;
    border-radius: 100%;

    width: 100px;
    height: 100px;
    background-color: red;
    transition: opacity 1s linear;
}
#firstTime{
    right:53%;
    /*transform: rotateX(-45deg);*/
    /*transform: translate3d(100px,100px,100px);*/
}
#previousUser{
    left:53%;
}
#begin{
    top:350px;
    color: grey;
    background-image: url("./assets/stars.png");
}
/*_______________________________________End Buttons_______________________________________*/

/*_______________________________________CSS for menu on scene customization_______________________________________*/

.menuContainer{
    position: absolute;
    overflow: hidden;
    background-color: green;
    width: 0;
    height:100%;
    transition: width 0.2s ease;
}
.menu{
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}
#sceneName > textarea{
    width: 100%;
    height: 100%;
}

@keyframes populateMenu{
    from{}
    to{right:0;}
}
/*_______________________________________End CSS for menu on scene customization_______________________________________*/

#columnCenterBlock {
    display: grid;
    height: 100%;
    grid-template-columns: 10fr 80fr 10fr;
    overflow: hidden;
    background-image: url("./assets/background.png");
    background-size:cover;
    background-position: center;
    transition: background-image 1s linear;
}
#centerBlockCenterCol{
    display: flex;
    perspective: 800px;
    height:100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}
/*_______________________________________CSS for Scene+base stylization_______________________________________*/
.sceneContainer{
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: bottom;
    transition: width 0.5s ease, transform 0.5s linear;
    /*width:*/
    border:5px solid black;

}
.scene{
    display: none; /*sets display to none so that the scene does not initially appear, instead wil appear on button click*/
    aspect-ratio: 1;
    width: 0; /*initial width set to 0 so that the transition animates the board coming into existence*/
    background-color: white;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: width 0.5s ease, transform 0.5s linear;
}
.sceneFloor{
    position: absolute;
    aspect-ratio: 1;
    width: 100%;
    background-image: url("./assets/grass.png");
    background-size:auto;
    background-position: center;
    transition: background-image 1s linear;
}
.baseFaces{
    position: absolute;
    width:100%;
    --baseHeight:40px;
    height:var(--baseHeight);
    background-image: url("./assets/dirt.jpeg");
    background-size:auto;
    background-position: center;
    transition: background-image 1s linear;

}
.baseFaces.baseFront{
    top:100%; /*pushes element to bottom of parent*/
    transform-origin: top; /* performs transformation along top of element*/
    transform: rotateX(-90deg); /* folds element down along x axis*/
}
.baseFaces.baseBack{
    transform-origin: top;
    transform: rotateX(-90deg);
}
.baseFaces.baseLeft{
    transform-origin: top left;
    transform: rotateX(-90deg) rotateY(-90deg);
}
.baseFaces.baseRight{
    transform-origin: top right;
    transform: rotateX(-90deg) rotateY(90deg);
}
.baseFaces.baseFloor{
    height:100%;
    transform: translateZ(calc(-1*(var(--baseHeight))));
}
/*_______________________________________End CSS for Scene+base stylization_______________________________________*/
/*_______________________________________Player customization_______________________________________*/
.playerContainer{
    position: absolute;
    display: none; /*hides player so that it does not initially exist on the board (specifically for the scene customization board)*/
    transform-style: preserve-3d;
    transform-origin: bottom; /*transforms occur from bottom up element (allows element to flip up, as opposed to default center origin transform, resulting in element partially being in the ground)*/
    transform:rotateX(-90deg); /*flips player container back up after flip down from board */
    width: 20px;
    height: 20px;
    /*aspect-ratio: 1;*/
    /*border: 1px solid white;*/
    z-index: 1; /*ensures element visually appears on top of scene (when testing where element is with border:)*/
    bottom:0;/*places the character at the bottom of the board initially (closest to the user[player])*/
    left:50%; /*places the left side of the playerContainer element 50% from the left of the parent element (the left side of the board)*/
    transition: transform 0.5s linear;
}
.player{
    background-image: url("./assets/pixelWizard.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    bottom: 0;
    aspect-ratio: 1;

}
/*_______________________________________End Player customization_______________________________________*/
/*_______________________________________Boss customization_______________________________________*/
.bossContainer{
    position: absolute;
    border: 5px solid white;
    width: 600px;
    height: 600px;
    transform-style: preserve-3d;
    transform: rotateX(80deg);
    z-index: 1;
}
.skeletonBossContainer{

}
.bossHead{

}
.bossBody{

}
.leftArm{

}
.rightArm{

}

