.cormorant-unicase-light {
    font-family: "Cormorant Unicase", serif;
    font-weight: 300;
    font-style: normal;
}

.cormorant-unicase-regular {
    font-family: "Cormorant Unicase", serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-unicase-medium {
    font-family: "Cormorant Unicase", serif;
    font-weight: 500;
    font-style: normal;
}

.cormorant-unicase-semibold {
    font-family: "Cormorant Unicase", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-unicase-bold {
    font-family: "Cormorant Unicase", serif;
    font-weight: 700;
    font-style: normal;
}
*{
    padding:0;
    margin: 0;
    border: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,black,teal,aqua,black,aquamarine);
    background-size: 100vw 100vh ;
    background-repeat: round;
    display: grid;
    grid-template-columns: 5fr 90fr 5fr ;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    /*grid-template-rows: 100px 200px 100px 100px;*/
    /*grid-template-areas:*/
    /*    "head head2 head3 head4"*/
    /*    "col1 col2 col3 col4"*/
    /*    "footer footer footer footer"*/
    /*;*/
}
body header, footer{
    grid-column: 1/span 3;
    height:50px;
    background-color: black;
    color: white;
    opacity:0.7;
}
#columnLeftBorder,#columnRightBorder{
    background-color: black;
    opacity:0.7;
}
#columnCenterBlock{
    height:100%;
    overflow-y: auto;
}

#centerBlocksubGrid{
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-gap: 10px;
}

.cardContainer{
    height:50vh;
    border: 2px solid red;
    background-color: black;
    padding:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#cardContainer1{
    transition: opacity 1s linear;
}
#cardContainer1:hover{
    /*position: absolute;*/
    /*opacity: 0;*/
}

.siteCard{
    display: flex;
    flex-direction: column;
    background-color: red;
    border-radius: 2%;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.siteCard:hover{
    animation: pulse 2s linear infinite;
}
.cardVisual, .cardInfo{
    transition: height 0.8s ease;
    overflow: hidden;
}
.cardVisual{
    position: relative;
    height: 70%;
    width: 100%;
    overflow: hidden;
}
.cardInfo{
    background-color: tan;
    border-radius: inherit;
    height:30%;
}

.siteCard:hover .cardVisual{
    height:100%;
    filter: brightness(1.5);

}
.siteCard:hover .cardInfo{
    height:0;
}
#website1{
    background-image: url("assets/SpaceCard/DarkNebula.png");
    background-size: cover;
    background-position: center;
}
#website6{
    background-image: url("assets/GauntletCard/arcade.jpeg");
    background-size: cover;
    background-position: center;
}
#website1 #ship1{
    position: absolute;
    top: 0;
    left:-35%;
    transition: left 2s linear, top 2s linear, rotate 2s linear;
    max-width: 30%;
    rotate: 10deg;
    z-index: 1;
}
#website1 #StoryBlock{
    position: absolute;
    top:30%;
    left:15%;
    width:70%;
    opacity:0.8;
    color:white;
    background: black;
    z-index: 2;
}

#website1 #StoryBlock span{
    opacity: 0;
    display: inline-block;
    animation: textAppear 0.25s forwards;
}

@keyframes textAppear {
    to{
        opacity: 1;
    }
}

#website1.fly-in #ship1{
    top:10%;
    left:10%;
    rotate: 20deg;
    transition: left 2s linear, top 2s linear, rotate 2s linear, scale 2s linear;
}
#website1 #console{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(3);
    transition: scale 2s linear, opacity 0.5s linear;
    z-index: 2;
}
#website1 #planet{
    position: absolute;
    display: block;
    top:30%;
    left:35%;
    max-width: 20%;
    transition: left 20s linear,filter 2s linear, scale 16s linear, opacity 0.5s linear;
    z-index: 1;
}
#website1.approach-planet #planet{
    left:10%;
    scale: 10;
}
#website1.reset-planet #planet{
    /*transition: filter;*/
    transition: none;
    scale: 1;
    left: 30%;

}

#website1.shift-planet #planet{
    /*transition: filter;*/
    scale: 1;
    left: 30%;

}

#website1.fly-out #ship1{
    top: 0;
    left:0;
    rotate: 0;
    opacity: 0;
    transition: left 2s linear, top 2s linear, rotate 2s linear, opacity 1s linear;
    /*transition: none;*/
}

#website2{
    background-image: url("ShatteredWastePortal.png");
    background-size: cover;
    background-position: center;
    transition: filter 2.5s ease-in-out;
    filter: brightness(1);
}
#website2:hover{
    filter:brightness(1.2);
}
#website3{
    background-image: url("LoungeCardBackground.png");
    background-size: cover;
    background-position: center;

}

#website3{
    /*background-image: url("");*/
    background-size: cover;
    background-position: center;

}

#website6 .cardVisual{
    display: grid;
    grid-template-columns: 20fr 20fr 20fr 20fr 20fr;
    grid-template-rows: 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr;
}

.row1{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}
.row1 > div{
    position: relative;
    left: 0;
    height: 100%;
    width: 20%;
    border: inherit;
}

/*Begin center block replacement on card selections*/
#centerBlockDungeon{
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-gap: 10px;
}
#centerBlockGauntlet{
    font-family: "Cormorant Unicase", serif;
    font-weight: 300;
    font-style: normal;
    display: grid;
    grid-template-columns: 30fr 55fr 15fr;
    /*grid-gap: 10px;*/
    height: 100%;
}
#centerBlock3D{
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    grid-gap: 10px;
	height: 100%;
}
/*Begin center block replacement specifics and customizations*/

/* 3d Block (move below  gauntlet block when done) */
#centerBlock3D .leftCol, .rightCol{
    background-color: black;
    outline: 5px solid black;
    outline-offset: -5px;
}
#centerBlock3D .midCol{
	display: flex;
    background-image: url("./assets/3dCard/sceneBackground.png");
	background-color: white;
	justify-content: center;
	align-items: center;
}

.perspective{
	perspective: 800px;
	perspective-origin: 50% -200px;
}

.sceneContainer{
    transform-style:preserve-3d;
    /*transform-origin: 50px bottom -50px;*/
    /*transform:translate3d(0,0,-750px);*/


}
.scene{
    width: 200px;
    position: relative;
    aspect-ratio:1;
    transform-style:preserve-3d;
    transition: transform 0.5s linear;
    transform:rotateX(90deg) scale3d(3,3,3);
}

.sceneBase{
    position: absolute;
    /*top:0;*/
    width: 200px;
    transform-style: preserve-3d;
    aspect-ratio: 8;
    background-image: url("./assets/GauntletCard/stoneTile.jpeg");
    background-size: cover;
    background-position: center;
}
.treeGroup{
    position: absolute;
    bottom: 0;
    left: 0;
    transform-style: preserve-3d;
}
.tree{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("./assets/3dCard/tree.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    aspect-ratio: 1;
    width: 35px;
    height:70px;
    transform-origin: bottom;
}
.tree.treeFaceOne{
    transform:rotate3d(1,0,0,-90deg);
}
.tree.treeFaceTwo{
    transform: rotateX(-90deg) rotateY(-90deg);
}
.treeGroup.treeOne{
    transform: translate3d(0,-100px,0);
}
.treeGroup.treeTwo{
    transform: translate3d(40px,-80px,0);
}
.treeGroup.treeThree{
    transform: translate3d(130px,-180px,0);
}
.treeGroup.treeFour{
    transform: translate3d(120px,-20px,0);
}
.treeGroup.treeFive{
    transform: translate3d(163px,-100px,0);
}
.treeGroup.treeSix{
    transform: translate3d(45px,-150px,0);
}

.caveContainer{
    position:absolute;
    bottom:0;
    left:0;
    transform-style: preserve-3d;
}
.caveEntrance{
    position: absolute;
    bottom: 0;
    left:0;
    background-image: url("./assets/3dCard/caveEntrance.png");
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    aspect-ratio: 1;
    width:50px;
    transform-origin: bottom;
}
.caveContainer{
    transform: rotateX(-90deg) translate3d(75px,5px,-198px);
}

.swordInStoneGroup{
    position: absolute;
    bottom: 0;
    left:0;
    transform-style: preserve-3d;
}
.swordStone{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    aspect-ratio: 1;
    background-image: url("./assets/3dCard/swordInStone.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    transform-origin: bottom;
}
.swordInStoneGroup .swordStone.swordInStoneFaceOne{
    transform: rotate3d(1,0,0,-90deg);

}
.swordInStoneGroup .swordStone.swordInStoneFaceTwo{
    transform: rotateX(-90deg) rotateY(-90deg);
}

.swordInStoneGroup{
    transform:translate3d(100px,-100px,0);
}

.pillarGroup{
    position: absolute;
    bottom: 0;
    left:0;
    transform-style: preserve-3d;
}
.pillar{
    position: absolute;
    bottom: 0;
    left:0;
    background-image: url("./assets/3dCard/pillar.png");
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    aspect-ratio: 1;
    width:50px;
    transform-origin: bottom;
}
.pillar.FaceFront{
    transform:rotate3d(1,0,0,-90deg);
}
.pillar.FaceLeft{
    transform:rotateX(-90deg) rotateY(-90deg) translate3d(-5px,0,5px); /* rotateX flips the image up to the user, rotateY turns it away from the user*/

}
.pillar.FaceRight{
    transform:rotateX(-90deg) rotateY(-90deg) translate3d(-5px,0,-5px);
}
.pillar.FaceBack{
    transform:rotateX(-90deg) rotateY(180deg) translate3d(0,0,10px);

}
.pillarGroup.pillarOne{
    transform: translate3d(0,-30px,0);
}
.pillarGroup.pillarTwo{
    transform: translate3d(0,-160px,0);
}
.pillarGroup.pillarThree{
    transform: translate3d(150px,-160px,0);
}
.pillarGroup.pillarFour{
    transform: translate3d(150px,-30px,0);
}

.wormContainer{
    position: absolute;
    transform-style: preserve-3d;
    width: 100px;
    aspect-ratio: 1;
    background-color: red;
    top:0;
    transform-origin: top;
    transform: rotateX(90deg);

}

.wormSegment{
    position: absolute;
    width: 5px;
    aspect-ratio: 1;
    background-color: green;
    transition: transform 1s linear;
    background-image: url("./assets/3dCard/pillar.png");
    background-position: center;
    background-size: contain;
}


.angelContainer{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 80px;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-90deg) translate3d(0,-60px,0);
    animation: rotateAngel 10s linear infinite
}
@keyframes rotateAngel{
    from{transform: rotateX(-90deg) rotateY(0deg) translate3d(0,-60px,0) scale3d(1,1,1)}
    to{transform: rotateX(-90deg) rotateY(360deg) translate3d(0,-60px,0) scale3d(1,1,1)}
}
.sphereHalves{
    position:absolute;
    background-color: black;
    box-shadow: white 0 0 10px 2px, yellow 0 0 7px 3px, red 0 0 10px 8px;
    border-radius: 50% 20px;
    aspect-ratio: 1;
    width:50px
}

.sphereHalf1{
    /*position:absoulte*/
    transform-origin: center;
    transform: rotateY(0deg);
    animation: spinHalf1 1.7s linear infinite;
}
@keyframes spinHalf1 {
    from{transform:rotateY(0deg) rotateX(0deg)}
    to{transform:rotateY(-360deg) rotateX(360deg)}
}
.sphereHalf2{
    transform-origin: center;
    transform: rotateY(90deg);
    animation: spinHalf2 2s linear infinite;
}
@keyframes spinHalf2 {
    from{transform:rotateX(0deg) rotateY(0deg)}
    to{transform:rotateX(-360deg) rotateY(360deg)}
}
.ringOfEyes{
    position: absolute;
    width: 70px;
    height:10px;
    transform-style: preserve-3d;
    border-radius: 50%;
    box-shadow: white 0 0 70px 2px;

}
.ringOne{
    position: absolute;
    animation: spinClockwise 10s linear infinite;
}
@keyframes spinClockwise{
    from{transform: rotateY(0deg) rotateZ(0deg)}
    to{transform: rotateY(360deg) rotateZ(360deg)}
}
.ringTwo{
    position: absolute;
    transform:rotateX(-90deg);
    animation: spinClockwiseXaxis 8s linear infinite;
}
@keyframes spinClockwiseXaxis{
    from{transform: rotateX(0deg) rotateY(0deg)}
    to{transform: rotateX(360deg) rotateY(-360deg)}
}

.ringThree{
    position: absolute;
    transform:rotateX(90deg) rotateZ(90deg) rotateY(45deg);
    animation: spinThirdEye 6s linear infinite;
}
@keyframes spinThirdEye{
    from{transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg)}
    to{transform: rotateX(-360deg) rotateZ(-360deg) rotateY(360deg)}
}

.ringFaces{
    position: absolute;
    background-color: black;
    /*background-image:url("./assets/GauntletCard/rectangleEye.jpeg");*/
    background-size: contain;
    width: 70px;
    height:10px;
    transform: translate3d(0,0,35px);


}
.firstFace{

}
.secondFace{
    transform-origin: left;
    transform: translate3d(0,0,35px) rotateY(90deg);
}
.thirdFace{
    transform-origin: right;
    transform: translate3d(0,0,35px) rotateY(-90deg);
}
.fourthFace{
    transform-origin: left;
    transform: translate3d(0,0,-35px);
}




.playerContainer{
    position: absolute;
    top:80px;
    left:90px;
    transform-style:preserve-3d;
    transform-origin: center;
    transform: rotateX(-90deg);
    /*bottom:25px;*/
}

.player{
    position: absolute;
    bottom:0;
    left:0;
    /*background-image: url("./assets/GauntletCard/pixelBarbarian.png");*/
    background-image: url("./assets/GauntletCard/pixelWizard.png");
    /*background-image: url("./assets/GauntletCard/pixelPaladin.png");*/
    /*background-image: url("./assets/GauntletCard/pixelArcher.png");*/
    /*background-image: url("./assets/GauntletCard/pixelRogue.png");*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    transform-origin: bottom;
}
.player2{
    position: absolute;
    bottom:0;
    left:70%;
    background-image: url("./assets/GauntletCard/pixelBarbarian.png");
    background-size: contain;
    background-position: center;
    width: 25px;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    animation: movePlayer 10s linear infinite;
}


.scene .sceneFloor{
    position: absolute;
    width: 200px;
    background-image: url("./assets/3dCard/grass.png");
    background-size:cover;
    background-position:center;
    aspect-ratio: 1;
    transform-style: preserve-3d;
    transform-origin: bottom;

}
.scene .sceneBase.frontFace{
    transform-origin: bottom;
    transform: rotatex(90deg);
    bottom: 0;
 }
.scene .sceneBase.leftFace{
    transform-origin: top left;
    transform:rotateZ(90deg)rotateX(-90deg)
}
.scene .sceneBase.rightFace{
    transform-origin: top right;
    transform:rotateZ(-90deg)rotateX(-90deg)
}
.scene .sceneBase.backFace{
    transform-origin: top;
    transform: rotateX(-90deg);
    top:0;
}
.scene .sceneBase.bottomFace{
    aspect-ratio: 1;
    transform: translate3d(0,0,-25px);
}
.room.floorBlock{

    top:0;
    aspect-ratio: 8;
    background-image: url("./assets/GauntletCard/stoneTile.jpeg");
    background-size: cover;
    background-position: center;
}
.room.floorBlock.bottom{
    top:0;
    aspect-ratio: 1;
    transform-origin:bottom;
    animation: animateBottomBlock 10s linear infinite;

}
@keyframes animateBottomBlock {
    20%{transform:rotateX(0);top:25px}
    40%,50%,60%{transform:rotateX(90deg);top:25px}
    80%{transform:rotateX(0);top:25px}
}

.room.floorBlock.back{
    top:0;
    animation: animateFloorBottomBack 10s linear infinite;
}
@keyframes animateFloorBottomBack{
    40%,50%,60%{top:100%}
}

.room.floorBlock.left{
    top:0;
    transform-origin:left;
    animation: animateFloorBottomLeft 10s linear infinite;
}
@keyframes animateFloorBottomLeft{
    20%{transform:rotateY(0deg);top:100%}
    40%,50%,60%{transform:rotateY(90deg);top:100%}
    80%{transform:rotateY(0deg);top:100%}
}

.room.floorBlock.right{
    top:0;
    transform-origin:right;
    animation: animateFloorBottomRight 10s linear infinite;
}
@keyframes animateFloorBottomRight{
    20%{transform:rotateY(0deg);top:100%}
    40%,50%,60%{transform:rotateY(-90deg);top:100%}
    80%{transform:rotateY(0deg);top:100%}
}

.room.floorBlock.front{
    top:0;
    transform-origin:100px center -100px;
    animation: animateFloorBottomFront 10s linear infinite;
}
@keyframes animateFloorBottomFront{
    20%{transform:rotateY(0deg);top:100%}
    40%,50%,60%{transform:rotateY(180deg);top:100%}
    80%{transform:rotateY(0deg);top:100%}
}

.room.leftWall{
    bottom:0;
    transform-origin: bottom;
    /*transition: transform 2s linear;*/
    /*transform:rotateX(-180deg);*/
    /*animation: animateLeftWall 5s linear infinite;*/
    /*background-image: url("./assets/GauntletCard/stoneTile.jpeg");*/
    background-size: cover;
    background-position: center;
}
@keyframes animateLeftWall {
    40%{bottom:100%}
    50%{transform:rotateX(-180deg);bottom:100%}
    60%{transform:rotateX(-180deg);bottom:100%}
    70%{transform:rotateX(-180deg);bottom:100%}
}

.room.rightWall{
    left:0;
    transform-origin: left;
    /*transform:rotateY(90deg);*/
    animation: animateRightWall 10s linear infinite;
    /*background-image: url("./assets/GauntletCard/stoneTile.jpeg");*/
    background-size: cover;
    background-position: center;
}
@keyframes animateRightWall {
    20%{transform:rotateY(0);left:100%}
    40%,50%,60%{transform:rotateY(90deg);left:100%}
    80%{transform:rotateY(0);left:100%}
}

/*.floor.one{*/
/*	bottom:100%;*/
/*	transform-origin:bottom;*/
/*	transform:rotateX(90deg);*/
/*	*/
/*}*/
.face{
	position: absolute;
	width: 100px;
	aspect-ratio: 1;
	
	background-image: url("./assets/GauntletCard/stoneTile.jpeg");
	background-size: cover;
	background-position: center;
	transform-style: preserve-3d;
}
.box{
	/*animation: rotate 10s linear infinite;*/
	/* transition: left 2s linear; */
}
.face.front{
	
}
.face.bottom{
	top:100%;
	transform-origin: top;
	transform:rotateX(-90deg);
}
.face.top{
	bottom:100%;
	transform-origin: bottom;
	transform:rotateX(90deg);
}
.face.back{
	bottom:200%;
	transform-origin:center 150px -50px;
	transform: rotateX(180deg);
}
.face.right{
	left:100%;
	transform-origin: left;
	transform:rotateY(90deg);
}
.face.left{
	right: 100%;
	transform-origin: right;
	transform:rotateY(-90deg);
}


@keyframes rotate{
	from{
		transform:rotate(0);
		/*scale: 1;*/
		/* left:0; */
		/* top:0; */
	}
	50%{
		/*scale:0.5;*/
		/* left: 100px; */
		/* top:50px; */
		}
	to{
		/*scale:1;*/
		transform:rotateY(360deg);
		/* left:0; */
		/* top:0; */
		
	}
}
	
/* Gauntlet Block */
#centerBlockGauntlet .leftCol, .midCol, .rightCol{
    background-color: black;
    outline: 5px solid black;
    outline-offset: -5px;
}
#centerBlockGauntlet .midCol{
    background-image: url("./assets/GauntletCard/gauntletGameBorder.png");
    background-size: cover;
    background-position: center;
    padding: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gauntletBoard{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    background-color: black;
    width: 100%;
    height: 100%;
}

.gridSquare{
    background-image: url("./assets/GauntletCard/stoneTile.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    /*border: 1px solid black;*/
}
.gridSquare > div{
    position: relative;
    left: 0;
    height: 100%;
    width: 20%;
    border: inherit;
}
#playerGrid{
    background-image: url("./assets/GauntletCard/pixelBarbarian.png");
    background-size: contain;
    background-position: center;
}

#centerBlockGauntlet .leftCol{
    background-size: cover;
    background-position: center;
    animation: changeImages 120s linear infinite;
}
@keyframes changeImages {
    0%{background-image: url("assets/GauntletCard/barbarian.png")}
    12.5%{background-image: url("./assets/GauntletCard/skeletonWarrior.png")}
    25%{background-image: url("./assets/GauntletCard/elf.png")}
    37.5%{background-image: url("./assets/GauntletCard/necromancer.png")}
    50%{background-image: url("./assets/GauntletCard/valkyrie.png")}
    62.5%{background-image: url("./assets/GauntletCard/skeletonArcher.png")}
    75%{background-image: url("./assets/GauntletCard/wizard.png")}
    87.5%{background-image: url("./assets/GauntletCard/dwarfWarrior.png")}
    100%{background-image: url("assets/GauntletCard/barbarian.png")}
}

#centerBlockGauntlet .rightCol{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    font-size: 20px;
    color: white;
}
.character{
    text-align: center;
}

#warrior{
    color: red;
}
#warrior:hover{
    background-image: url("./assets/GauntletCard/barbarian.png");
    background-size: contain;
    background-position: center;
}
#valkyrie{
    color:blue;
}
#wizard{
    color:yellow;
}
#elf{
    color:green;
}

/*__________________________________Animations__________________________________*/
@keyframes fadeNavBar{
    from{opacity:0.8;}
    to{opacity:0}
}

@keyframes pulse{
    from{}
    50%{scale:1.02}
    to{scale: 1}
}
@keyframes shimmering{
    0%,100%{filter: brightness(1);}
    50%{filter: brightness(1.5);}
}