


/*_______________________________________Begin Castle customization_______________________________________*/
.castle{
    position: absolute;
    left:100px;
    aspect-ratio: 1;
    width: 600px;
    background-image: url("../../../../assets/mossyCobblestoneRoad.png");
    background-position: center;
    background-size: 100px 100px;
    transform-style: preserve-3d;
}
.castleWall{
    position: absolute;
    background-image: url("../../../../assets/castleWall.png");
    background-position: center;
    background-size: contain;
    width: 600px;
    height: 100px;
}

.castleWallFront{
    bottom: 0;
    background-image: none;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
}
.castleWallFrontLeft{
    position: absolute;
    width:275px;
}
.castleWallFrontGate{
    position: absolute;
    background-image: url("../../../../assets/gate.png");
    width: 150px;
    height: 150px;
    left:225px;
    bottom:0;
    background-repeat: no-repeat;
    z-index: 1;
    transform-style: preserve-3d;

}
.torch{
    /*display: none;*/
    position: absolute;
    width: 10px;
    height: 30px;
    background-image: url("../../../../assets/torch.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*transform: rotateZ(0deg) translate3d(10px,-106px,-16px);*/
    transform-style: preserve-3d;

}
.torchLeft{
    position: absolute;
    width: 10px;
    height: 30px;
    bottom: 41px;
    left:29px;
    transform-style: preserve-3d;
    transform:rotateX(-28deg) translate3d(0px, 0px, 8px);

}
.torchRight{
    position: absolute;
    width: 10px;
    height: 30px;
    bottom: 41px;
    right:29px;
    transform-style: preserve-3d;
    transform:rotateX(-28deg) translate3d(0px, 0px, 8px);

}
.torchFaceTwo{
    transform: rotateY(90deg);
}

.castleWallFrontRight{
    right:0;
    position: absolute;
    width:275px;
}

.castleWallBack{
    top: -100px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
}
.castleWallLeft{
    top: -100px;
    transform-origin: bottom right;
    transform: rotateX(-90deg) rotateY(90deg);
}
.castleWallRight{
    top: -100px;
    transform-origin: bottom left;
    transform: rotateX(-90deg) rotateY(-90deg);
}


.treeContainer{
    position: absolute;
    transform-style: preserve-3d;
    /*background-color: red;*/
    width: 35px;
    height: 70px;
    transform-origin: bottom;
    transform: rotateX(-90deg);

}
.tree{
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url("../../../../assets/tree.png");
    background-position: center;
    background-size: cover;
    transition: filter 1s linear;
}
.treeFaceOne{

}
.treeFaceTwo{
    transform:rotateY(90deg);

}


/*_______________________________________End Castle customization_______________________________________*/